
header {
    display: flex;
    background-color: #1a1a86;
    border-bottom: 10px solid;
    padding: 18px 20px;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 75px;
    height: 75px;
    margin-left: 30px;
    padding: 0;
    border-radius: 50px
}

nav {
    display: flex;
    text-align: right;
    margin: 8px;
}

a {
    display: inline-flex;
    align-items: center;
    font-family: "Fira Code", sans-serif, arial;
    font-weight: medium;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    transform: scale(1.1, 1.1);
    padding: 5px;
    transition: transform 300ms;
}

a::before {
    background-color: #976391;
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#buttonDownload {
    display: inline-block;
    background-color: #976391;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
}