.sectionPrincipal {
    display: flexbox;
    background-image: url(../../assets/images/bannereu.png);
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 10px solid;
}

.sectionPrincipal .wrapper {
    flex-direction: column;
    width: 700px;
    margin-left: 300px;
    margin-top: 10px;
}

.sectionPrincipal .navigation {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-top: 20px;
}


