.button:hover {
    transform: scale(1.1, 1.1);
    padding: 5px;
    transition: transform 600ms;
    padding: 18px 20px;
}

.button {
    display: inline-block;
    background-color: #976391;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    font-size: 20px;
    color: #fff;
    font-family: inherit;
    text-decoration: none;
}