.sectionPrincipal {
    display: flex;
    background-image: url(../../assets/images/bannereu.png);
    height: 540px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 10px solid;
    margin: none;
    padding: none;
    overflow: hidden;
}

.sectionPrincipal .wrapper {
    flex-direction: column;
    margin-left: 280px;
}

.sectionPrincipal .navigation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}


