.main-title {
    font-family: "Press Start 2p", sans-serif;
    font-size: 40px;
    color: #976391;
    text-shadow: 4px 4px 0 #000000;
    padding: 0px;
}

.main-title.-second {
    background-color: #976391;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;

}

.main-title.-third {
    background-color: #3C3191;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #fff;
}


